{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    ["@babel/env", {"modules": false, "targets": {"node": "current"}}]
  ],
  "ignore": ["src/**/__tests__"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "root": ["./src", "./examples/src"]
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
